PORT=5000
PERFECTCORP_CLIENT_ID=your_client_id_here
PERFECTCORP_CLIENT_SECRET="-----BEGIN PUBLIC KEY-----\nyour_rsa_key_here\n-----END PUBLIC KEY-----"
PERFECTCORP_BASE_URL=https://yce-api-01.makeupar.com
